extends layout

block content
  div#container.container
    div.row
      div.col-md-12
        p#q.text-center
    div#answers.row
      div.col-sm-6
        p.answer#1
        p.answer#2
      div.col-sm-6
        p.answer#3
        p.answer#4
    div#controls.row
      div.col-sm-6.col-sm-offset-3
        button.btn.btn-primary.btn-block#next Next

  script(src="/bower_components/jquery/dist/jquery.min.js")
  script(src="/js/quiz.js")