extends layout

block content
  #container
    h1 Quiz
    div#q 
    div#answers
      button.btn.btn-default.btn-block#1
      button.btn.btn-default.btn-block#2
      button.btn.btn-default.btn-block#3
      button.btn.btn-default.btn-block#4
    div#controls
      button.btn.btn-primary.btn-block#next Next

  script(src="/bower_components/jquery/dist/jquery.min.js")
  script(src="/js/quiz.js")