extends layout

block content
  #container
    h1 Quiz
    div#q 
    div#answers
      button.btn.btn-default#1
      button.btn.btn-default#2
      button.btn.btn-default#3
      button.btn.btn-default#4
    div#controls
      button.btn.btn-default#next Next

  script(src="/bower_components/jquery/dist/jquery.min.js")
  script(src="/js/quiz.js")